#barra-brasil {
  background: #7f7f7f;
  height: 20px;
  padding: 0 0 0 10px;
  display: block;
}

#menu-barra-temp {
  list-style: none;
}

#menu-barra-temp-li {
  display: inline;
  float: left;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #ededed;
}

#menu-barra-temp-li a {
  font-family: sans, sans-serif;
  text-decoration: none;
  color: white;
}

#tagA-LI {
  font-family: sans, sans-serif;
  text-decoration: none;
  color: white;
}

#kssPortalMessage {
  display: none;
}
