<!DOCTYPE html>
<html lang="pt-br" xml:lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- <base href="http://www.portalpadrao.gov.br/estilos-de-capa/capa-2/capa-padrao-2/" /> -->
    <!--[if lt IE 7]></base><![endif]-->
    <meta property="og:title" content="Capa 2" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="article" />

    <meta property="og:image" content="http://www.portalpadrao.gov.br/logo.png" />

    <meta property="og:locale" content="pt_BR" />
    <meta property="og:site_name" content=" Nome do Portal" />


    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@" />

    <meta property="creator.productor" content="http://estruturaorganizacional.dados.gov.br/id/unidade-organizacional/26" />
    <link rel="stylesheet" type="text/css" href="http://www.portalpadrao.gov.br/portal_css/Sunburst%20Theme/reset-cachekey-05f19b4e1825b7332a35448aee289ac6.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://www.portalpadrao.gov.br/portal_css/Sunburst%20Theme/base-cachekey-5518dbd75b60103b24fe944c82b18e07.css" />
    <script type="text/javascript" src="http://www.portalpadrao.gov.br/portal_javascripts/Sunburst%20Theme/resourceplone.app.jquery-cachekey-14fec3f031c58f26b1d43002407af1a1.js"></script>
    <script type="text/javascript" src="http://www.portalpadrao.gov.br/portal_javascripts/Sunburst%20Theme/resourceplone.formwidget.recurrencejquery.tmpl-beta1-cachekey-be321258a2e73cb09e63bff7f51247ef.js"></script>
    <script type="text/javascript" src="http://www.portalpadrao.gov.br/portal_javascripts/Sunburst%20Theme/resourcecollective.js.bootstrapjsbootstrap.min-cachekey-67cb02bdf7d60c7a543809ecc3e196b1.js"></script>
    <script type="text/javascript" src="http://www.portalpadrao.gov.br/portal_javascripts/Sunburst%20Theme/resourcecollective.coverjsmain-cachekey-ceea92c7e7ee540a3d522d488d341c0d.js"></script>
    <script type="text/javascript" src="http://www.portalpadrao.gov.br/portal_javascripts/Sunburst%20Theme/resourcebrasil.gov.tilesvendorjquery.cycle2-cachekey-d7f5e842bac0e8a4c9e19834affe5a18.js"></script>
    <script type="text/javascript" src="http://www.portalpadrao.gov.br/portal_javascripts/Sunburst%20Theme/resourcedropdown-menu-cachekey-2d3389bd132aab1c7d7a8b068eb67016.js"></script>
    <link rel="stylesheet" href="http://www.portalpadrao.gov.br/++resource++brasil.gov.agenda/brasilgovagenda-b80d378.css" />
    <script defer="defer" src="http://www.portalpadrao.gov.br/++resource++brasil.gov.agenda/brasilgovagenda-b80d378.js"></script>
    <link rel="stylesheet" href="http://www.portalpadrao.gov.br/++resource++brasil.gov.portal/brasilgovportal-f357bf7.css" />
    <script defer="defer" src="http://www.portalpadrao.gov.br/++resource++brasil.gov.portal/brasilgovportal-f357bf7.js"></script>
    <link rel="stylesheet" href="http://www.portalpadrao.gov.br/++resource++brasil.gov.tiles/brasilgovtiles-fadba58.css" />
    <script defer="defer" src="http://www.portalpadrao.gov.br/++resource++brasil.gov.tiles/brasilgovtiles-fadba58.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Jovens com acesso à internet</title>
    <link rel="http://purl.org/dc/terms/subject http://schema.org/about http://xmlns.com/foaf/0.1/primaryTopic" href="http://vocab.e.gov.br/2011/03/vcge#esquema" />

    <link rel="author" href="http://www.portalpadrao.gov.br/author/djunqueira" title="Informações do Autor" />

    <link rel="canonical" href="http://www.portalpadrao.gov.br/estilos-de-capa/capa-2" />

    <link rel="search" href="http://www.portalpadrao.gov.br/@@search" title="Buscar neste site" />

    <!-- <link rel="stylesheet" href="styles.css"> -->

    <link rel="stylesheet" href="files/index.css">

    <meta name="generator" content="Plone - http://plone.org" />

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="apple-touch-icon" sizes="180x180" href="http://www.portalpadrao.gov.br/estilos-de-capa/capa-2/capa-padrao-2/++theme++padrao/++theme++padrao/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="http://www.portalpadrao.gov.br/estilos-de-capa/capa-2/capa-padrao-2/++theme++padrao/++theme++padrao/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="http://www.portalpadrao.gov.br/estilos-de-capa/capa-2/capa-padrao-2/++theme++padrao/++theme++padrao/favicons/favicon-16x16.png" />
    <link rel="manifest" href="http://www.portalpadrao.gov.br/estilos-de-capa/capa-2/capa-padrao-2/++theme++padrao/++theme++padrao/favicons/manifest.json" />
    <link rel="mask-icon" href="http://www.portalpadrao.gov.br/estilos-de-capa/capa-2/capa-padrao-2/++theme++padrao/++theme++padrao/favicons/safari-pinned-tab.svg" color="#00a300" />
    <meta name="msapplication-config" content="http://www.portalpadrao.gov.br/estilos-de-capa/capa-2/capa-padrao-2/++theme++padrao/favicons/browserconfig.xml" />
    <meta name="theme-color" content="#00a300" />
    <link href="http://www.portalpadrao.gov.br/estilos-de-capa/capa-2/capa-padrao-2/++theme++padrao/++theme++padrao/brasilgovtemas-7dd46b8.css" rel="stylesheet" />

    <link rel="stylesheet" href="files/style.css">

</head>

<body class="default-header-template cover-layout-destaques template-view portaltype-collective-cover-content site-IDG section-estilos-de-capa subsection-capa-2 subsection-capa-2-capa-padrao-2 userrole-anonymous" dir="ltr">
    <noscript>É necessário ativar o javascript no seu navegador para continuar acessando</noscript>
    <div id="topo">
        <div id="barra-brasil">
            <ul id="menu-barra-temp">
                <li id="menu-barra-temp-li"><a href="#app" title="Link de redirecionamento para Portal do Governo Brasileiro">Portal do Governo Brasileiro</a></li>
                <li><a id="tagA-LI" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
            </ul>
        </div>
    </div>

    <!-- User -->
    <!-- Header -->
    <header id="main-header">
        <div class="header-wrapper">
            <div id="logo">
                <a id="portal-logo" title="O Portal Padrão do governo Federal. " href="http://www.portalpadrao.gov.br">

                    <div id="portal-title" class="corto">Consultas de Jovens com acesso à internet</div>
                    <span id="portal-description">Denominação do Orgão</span>
                </a>
            </div>

            <div class="header-accessibility">
                <ul>

                    <li id="siteaction-contraste">
                        <a href="#" accesskey="6">Alto Contraste</a>
                    </li>
                    <li id="siteaction-vlibras">
                        <a href="http://www.vlibras.gov.br/" accesskey="">VLibras</a>
                    </li>
                </ul>

            </div>

        </div>
        <!-- Segunda linha do header -->
        <div class="search-wrapper">
            <!-- icones -->
            <div class="header-icons">
                <a class="ico-navegacao">Navegação</a>
            </div>
            <div class="links-destaque">
                <ul id="portal-services">

                    <li id="portal-services-link-2-1532035932">
                        <a href="index.html" title="Link para página de Jovens com acesso à internet">Jovens com acesso à internet</a>
                    </li>

                    <li id="portal-services-link-2-1532030932">
                        <a href="def.html" title="Link para página de Noticias">Noticias</a>
                    </li>
                </ul>
            </div>

            <!-- Search -->
            <div id="portal-searchbox">

                <form id="nolivesearchGadget_form" action="http://www.portalpadrao.gov.br/@@busca">

                    <fieldset class="LSBox">
                        <legend class="hiddenStructure">Buscar no portal</legend>
                        <label class="hiddenStructure" for="nolivesearchGadget">Buscar no portal</label>
                        <input name="SearchableText" type="text" size="18" title="Buscar no portal" placeholder="Buscar no portal" class="searchField" id="nolivesearchGadget" />
                        <input class="searchButton" type="submit" value="Buscar no portal" />

                    </fieldset>

                </form>

            </div>
        </div>
        <!-- Main Menu -->
        <div class="navigation-wrapper">

            <div class="navigation-content">

                <nav id="main-navigation" class="navigation-cell">
                    <ul class="list-navigation">
                        <li id="portaltab-estilos-de-capa" class="selected"><a href="estilodecapa.html" title="" class="plain">Estilos de capa</a>
                            <ul class="submenu">
                                <li>

                                    <a href="http://www.portalpadrao.gov.br/estilos-de-capa/capa-1" title="" class="state-published">

                                        Capa 1
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.portalpadrao.gov.br/estilos-de-capa/capa-2" title="" class="state-published">
                                        Capa 2
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.portalpadrao.gov.br/estilos-de-capa/capa-3" title="" class="state-published">
                                    Capa 3
                                </a>
                                </li>
                                <li>
                                    <a href="http://www.portalpadrao.gov.br/estilos-de-capa/capa-4" title="" class="state-published">
                                    Capa 4
                                </a>
                                </li>
                            </ul>
                        </li>
                        <li id="portaltab-assuntos" class="plain"><a href="http://www.portalpadrao.gov.br/assuntos" title="" class="plain">Assuntos</a>
                            <ul class="submenu">
                                <li>
                                    <a href="http://www.portalpadrao.gov.br/assuntos/assunto-1" title="" class="state-published">
                                    Assunto 1
                                </a>
                                </li>

                                <li>

                                    <a href="http://www.portalpadrao.gov.br/assuntos/assunto-2" title="" class="state-published">

                                    Assunto 2
                                </a>

                                </li>
                                <li>

                                    <a href="http://www.portalpadrao.gov.br/assuntos/assunto-3" title="" class="state-published">
                                    Assunto 3
                                </a>

                                </li>

                                <li>

                                    <a href="http://www.portalpadrao.gov.br/assuntos/assunto-4" title="" class="state-published">
                                    Assunto 4
                                </a>
                                </li>
                                <li>

                                    <a href="http://www.portalpadrao.gov.br/assuntos/estilos" title="" class="state-published">

                                        Estilos
                                    </a>

                                </li>
                            </ul>
                        </li>
                        <li id="portaltab-informacao-ao-cidadao" class="plain"><a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao" title="" class="plain">Informação ao Cidadão</a>
                            <ul class="submenu">
                                <li>

                                    <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/institucional" title="" class="state-published">

                                        Institucional
                                    </a>

                                </li>

                                <li>

                                    <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/licitacoes-e-contratos" title="" class="state-published">

                                        Licitações e Contratos
                                    </a>

                                </li>

                                <li>

                                    <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/participacao-social" title="" class="state-published">

                                        Participação Social
                                    </a>

                                </li>

                                <li>

                                    <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/programas-e-acoes" title="" class="state-published">

                                        Programas e Ações
                                    </a>

                                </li>

                                <li>
                                    <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/receitas-e-despesas" title="" class="state-published">
                                        Receitas e Despesas
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/auditorias" title="" class="state-published">
                                        Auditorias
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/convenios-e-transferencias" title="" class="state-published">
                                        Convênios e Transferências
                                    </a>

                                </li>
                                <li>

                                    <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/informacoes-classificadas" title="" class="state-published">
                                        Informações Classificadas
                                    </a>

                                </li>

                                <li>

                                    <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/servico-de-informacao-ao-cidadao-sic" title="" class="state-published">
                                        Serviço de Informação ao Cidadão (SIC)
                                    </a>

                                </li>
                                <li>
                                    <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/dados-abertos" title="" class="state-published">
                                        Dados Abertos
                                    </a>

                                </li>

                                <li>
                                    <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/sistemas" title="" class="state-published">
                                        Sistemas
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/biblioteca" title="" class="state-published">
                                        Biblioteca
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="portaltab-centrais-de-conteudo" class="plain"><a href="http://www.portalpadrao.gov.br/centrais-de-conteudo" title="" class="plain">Centrais de Conteúdo</a>
                            <ul class="submenu">
                                <li>
                                    <a href="http://www.portalpadrao.gov.br/centrais-de-conteudo/imagens-1" title="" class="state-published">
                                        Imagens
                                    </a>

                                </li>
                            </ul>
                        </li>
                        <li id="portaltab-contatos" class="plain"><a href="http://www.portalpadrao.gov.br/contato" title="" class="plain">Contato</a>
                            <ul class="submenu">
                                <li>

                                    <a href="http://www.portalpadrao.gov.br/contato/fale-conosco" title="" class="state-published">
                                        Fale Conosco
                                    </a>

                                </li>
                            </ul>
                        </li>
                        <li id="portaltab-manuais" class="plain"><a href="http://www.portalpadrao.gov.br/manuais" title="" class="plain">Manuais</a>
                            <ul class="submenu">
                                <li>
                                    <a href="http://www.portalpadrao.gov.br/manuais/diretrizes" title="" class="state-published">

                                        Diretrizes
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.portalpadrao.gov.br/manuais/guia-de-estilo" title="" class="state-published">
                                        Guia de Estilo
                                    </a>

                                </li>

                                <li>

                                    <a href="http://www.portalpadrao.gov.br/manuais/gestao-de-conteudo" title="" class="state-published">

                                        Gestão de Conteúdo
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.portalpadrao.gov.br/manuais/barra-de-identidade-visual" title="" class="state-published">

                                        Barra de Identidade Visual
                                    </a>

                                </li>

                                <li>

                                    <a href="http://www.portalpadrao.gov.br/manuais/manual-de-uso-de-redes-sociais" title="" class="state-published">

                                        Manual de Uso de Redes Sociais
                                    </a>

                                </li>
                            </ul>
                        </li>
                    </ul>
                    <span class="endoflist">(Fim de estilos de capa)</span>
                    <div class="navigation-redes navigation-cell">
                        <h1>Redes sociais</h1>
                        <ul class="portal-redes">

                            <li class="portalredes-twitter portalredes-item">
                                <a href="https://www.twitter.com/twitter" title="link para redirecionar ao twitter">Twitter</a>
                            </li>

                            <li class="portalredes-youtube portalredes-item">
                                <a href="https://www.youtube.com/youtube" title="link para redirecionar ao youtube">YouTube</a>
                            </li>

                        </ul>
                    </div>
                </nav>

            </div>
        </div>
    </header>
    <div id="portal-breadcrumbs">
        <span id="breadcrumbs-you-are-here">Você está aqui:</span>
        <span id="breadcrumbs-home">
        <a href="index.html" title="Link para página inicial">Página Inicial</a>
        <span class="breadcrumbSeparator">
            &gt;

        </span>
        </span>
        <span dir="ltr" id="breadcrumbs-1">

            <a href="index.html" title="Link para pagina de Jovens com acesso à internet">Jovens com acesso à internet</a>

        </span>

    </div>

    <ul id="skip-menu">
        <li><a accesskey="1" href="#portal-footer">Ir para o footer</a></li>
        <li><a accesskey="2" href="#main-navigation">Ir para o menu</a></li>
        <li><a accesskey="3" href="#portal-searchbox">Ir para a busca</a></li>
        <li><a accesskey="4" href="#portal-footer">Ir para o rodapé</a></li>
    </ul><!-- User --><!-- Header -->

    <!-- <header id="main-header" class="inverter"> -->

    <div id="wrapper">

        <!-- Columns -->

        <div id="main">

            <main id="main-content" role="main">

                <div id="viewlet-above-content">

                    <div id="viewlet-tileshare" data-title-fb="Compartilhar no Facebook (abre em nova janela)" data-title-twitter="Tweet (abre em nova janela)" data-title-linkedin="Compartilhar no Linkedin  (abre em nova janela)" data-title-gplus="Compartilhar no Google+  (abre em nova janela)" data-title-link="Copiar para área de transferência" data-title-more="Mais opções">
                    </div>
                </div>

                <div class="">

                    <dl class="portalMessage info" id="kssPortalMessage">
                        <dt>Info</dt>
                        <dd></dd>
                    </dl>

                    <div id="content">

                        <div class="row">
                            <input type="text" placeholder="Digite algo para buscar"/>
                            <p id="usandoLang">Para selecionar a opção de menu, basta clicar com o <span lang="en">mouse</span> ou usar a tecla TAB</p>
                            <div id="app">

                                <button class="btn btn-secondary" onclick="search('AC')" title="Botão para filtrar dados somente do estado do ACRE">ACRE</button>
                                <button class="btn btn-light" onclick="search('AL')" title="Botão para filtrar dados somente do estado do ALAGOAS">ALAGOAS</button>
                                <button class="btn btn-secondary" onclick="search('AM')" title="Botão para filtrar dados somente do estado do AMAZONAS">AMAZONAS</button>
                                <button class="btn btn-light" onclick="search('AP')" title="Botão para filtrar dados somente do estado do AMAPÁ">AMAPÁ</button>
                                <button class="btn btn-secondary" onclick="search('BA')" title="Botão para filtrar dados somente do estado do BAHIA">BAHIA</button>
                                <button class="btn btn-light" onclick="search('CE')" title="Botão para filtrar dados somente do estado do CEARÁ">CEARÁ</button>
                                <button class="btn btn-secondary" onclick="search('DF')" title="Botão para filtrar dados somente do estado do DISTRITO FEDERAL">DISTRITO FEDERAL</button>
                                <button class="btn btn-light" onclick="search('ES')" title="Botão para filtrar dados somente do estado do ESPIRITO SANTO">ESPIRITO SANTO</button>
                                <button class="btn btn-secondary" onclick="search('GO')" title="Botão para filtrar dados somente do estado do GOIÁS">GOIÁS</button>
                                <button class="btn btn-light" onclick="search('MA')" title="Botão para filtrar dados somente do estado do MARANHÃO">MARANHÃO</button>
                                <button class="btn btn-secondary" onclick="search('MG')" title="Botão para filtrar dados somente do estado do MINAS GERAIS">MINAS GERAIS</button>
                                <button class="btn btn-light" onclick="search('MS')" title="Botão para filtrar dados somente do estado do MATO-GROSSO DO SUL">MATO-GROSSO DO SUL</button>
                                <button class="btn btn-secondary" onclick="search('MT')" title="Botão para filtrar dados somente do estado do MATO-GROSSO">MATO-GROSSO</button>
                                <button class="btn btn-light" onclick="search('PA')" title="Botão para filtrar dados somente do estado do PARÁ">PARÁ</button>
                                <button class="btn btn-secondary" onclick="search('PB')" title="Botão para filtrar dados somente do estado do PARAÍBA">PARAÍBA</button>
                                <button class="btn btn-light" onclick="search('PE')" title="Botão para filtrar dados somente do estado do PERNAMBUCO">PERNAMBUCO</button>
                                <button class="btn btn-secondary" onclick="search('PI')" title="Botão para filtrar dados somente do estado do PIAUÍ">PIAUÍ</button>
                                <button class="btn btn-light" onclick="search('PR')" title="Botão para filtrar dados somente do estado do PARANÁ">PARANÁ</button>
                                <button class="btn btn-secondary" onclick="search('RJ')" title="Botão para filtrar dados somente do estado do RIO DE JANEIRO">RIO DE JANEIRO</button>
                                <button class="btn btn-light" onclick="search('RN')" title="Botão para filtrar dados somente do estado do RIO GRANDE DO NORTE">RIO GRANDE DO NORTE</button>
                                <button class="btn btn-secondary" onclick="search('RO')" title="Botão para filtrar dados somente do estado do RONDÔNIA">RONDÔNIA</button>
                                <button class="btn btn-light" onclick="search('RR')" title="Botão para filtrar dados somente do estado do RORAIMA">RORAIMA</button>
                                <button class="btn btn-secondary" onclick="search('RS')" title="Botão para filtrar dados somente do estado do RIO GRANDE DO SUL">RIO GRANDE DO SUL</button>
                                <button class="btn btn-light" onclick="search('SC')" title="Botão para filtrar dados somente do estado do SANTA CATARINA">SANTA CATARINA</button>
                                <button class="btn btn-secondary" onclick="search('SE')" title="Botão para filtrar dados somente do estado do SERGIPE">SERGIPE</button>
                                <button class="btn btn-light" onclick="search('SP')" title="Botão para filtrar dados somente do estado do SÃO PAULO">SÃO PAULO</button>
                                <button class="btn btn-secondary" onclick="search('TO')" title="Botão para filtrar dados somente do estado do TOCANTINS">TOCANTINS</button>

                            </div>

                        </div>

                        <div class="row">

                            <div class="column col-md-12 " data-panel="">

                                    <div id="tela">

                                    </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div id="viewlet-below-content">
                    <div class="voltar-topo">
                        <a href="#wrapper">Voltar ao topo</a>
                    </div>


                </div>
            </main>

        </div>
        <div class="conteudo-relacionado"></div>

        <div id="footer">
        <footer id="portal-footer">
            <div class="footer-wrapper">

                <div class="colunas-rodape">
                    <div class="coluna-redes">
                        <h2>Redes sociais</h2>
                        <ul class="portal-redes">

                            <li class="portalredes-twitter portalredes-item">
                                <a href="https://www.twitter.com/twitter" title="Link para redirecionar ao Twitter">Twitter</a>
                            </li>

                            <li class="portalredes-youtube portalredes-item">
                                <a href="https://www.youtube.com/youtube" title="Link para redirecionar ao Youtube">YouTube</a>
                            </li>

                            <li class="portalredes-facebook portalredes-item">
                                <a href="https://www.facebook.com/facebook" title="Link para redirecionar ao Facebook">Facebook</a>
                            </li>

                            <li class="portalredes-item">
                                <figure>
                                    <img src="https://logodownload.org/wp-content/uploads/2019/01/governo-federal-2019-bolsonaro-logo-2.png"
                                            alt="Imagem do governo federal intitulada pátria amada">
                                    <figcaption>Patria Amada Brasil</figcaption>
                                </figure>
                            </li>

                        </ul>
                    </div>
                    <div class="coluna-menu">
                        <ul class="rodape-navigation">
                            <li id="portaltab-estilos-de-capas" class="selected"><a href="http://www.portalpadrao.gov.br/estilos-de-capa" title="Link para redirecionamento de Estilos de capa" class="plain">Listagem Estilos de capa</a>
                                <ul class="submenu">
                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/estilos-de-capa/capa-1" title="Link para Capa1" class="state-published">

                                            Capa 1
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/estilos-de-capa/capa-2" title="Link para Capa2" class="state-published">

                                            Capa 2
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/estilos-de-capa/capa-3" title="Link para Capa2" class="state-published">

                                            Capa 3
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/estilos-de-capa/capa-4" title="Link para Capa4" class="state-published">

                                        Capa 4
                                    </a>

                                    </li>
                                </ul>
                            </li>
                            <li id="portaltab-assuntoss" class="plain"><a href="http://www.portalpadrao.gov.br/assuntos" title="Link para pagina de Assuntos" class="plain">Assuntos</a>
                                <ul class="submenu">
                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/assuntos/assunto-1" title="Link para pagina de Assuntos1" class="state-published">

                                            Assunto 1
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/assuntos/assunto-2" title="Link para pagina de Assuntos2" class="state-published">

                                            Assunto 2
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/assuntos/assunto-3" title="Link para pagina de Assuntos3" class="state-published">

                                            Assunto 3
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/assuntos/assunto-4" title="Link para pagina de Assuntos4" class="state-published">

                                            Assunto 4
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/assuntos/estilos" title="Link para pagina de Estilos" class="state-published">

                                            Estilos
                                        </a>

                                    </li>
                                </ul>
                            </li>
                            <li id="portaltab-informacao-ao-cidadaos" class="plain"><a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao" title="Link para pagina de Informação ao cidadão" class="plain">Informação ao Cidadão</a>
                                <ul class="submenu">
                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/institucional" title="" class="state-published">

                                            Institucional
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/licitacoes-e-contratos" title="" class="state-published">

                                            Licitações e Contratos
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/participacao-social" title="" class="state-published">

                                            Participação Social
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/programas-e-acoes" title="" class="state-published">

                                            Programas e Ações
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/receitas-e-despesas" title="" class="state-published">

                                            Receitas e Despesas
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/auditorias" title="" class="state-published">

                                            Auditorias
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/convenios-e-transferencias" title="" class="state-published">

                                            Convênios e Transferências
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/informacoes-classificadas" title="" class="state-published">

                                            Informações Classificadas
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/servico-de-informacao-ao-cidadao-sic" title="" class="state-published">

                                            Serviço de Informação ao Cidadão (SIC)
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/dados-abertos" title="" class="state-published">

                                            Dados Abertos
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/sistemas" title="" class="state-published">

                                            Sistemas
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/informacao-ao-cidadao/biblioteca" title="" class="state-published">

                                            Biblioteca
                                        </a>

                                    </li>
                                </ul>
                            </li>
                            <li id="portaltab-centrais-de-conteudos" class="plain"><a href="http://www.portalpadrao.gov.br/centrais-de-conteudo" title="" class="plain">Centrais de Conteúdo</a>
                                <ul class="submenu">
                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/centrais-de-conteudo/imagens-1" title="" class="state-published">

                                            Imagens
                                        </a>

                                    </li>
                                </ul>
                            </li>
                            <li id="portaltab-contatoss" class="plain"><a href="http://www.portalpadrao.gov.br/contato" title="" class="plain">Contato</a>
                                <ul class="submenu">
                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/contato/fale-conosco" title="" class="state-published">

                                            Fale Conosco
                                        </a>

                                    </li>
                                </ul>
                            </li>
                            <li id="portaltab-manusais" class="plain"><a href="http://www.portalpadrao.gov.br/manuais" title="" class="plain">Manuais</a>
                                <ul class="submenu">
                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/manuais/diretrizes" title="" class="state-published">

                                            Diretrizes
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/manuais/guia-de-estilo" title="" class="state-published">

                                            Guia de Estilo
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/manuais/gestao-de-conteudo" title="" class="state-published">

                                            Gestão de Conteúdo
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/manuais/barra-de-identidade-visual" title="" class="state-published">

                                            Barra de Identidade Visual
                                        </a>

                                    </li>

                                    <li>

                                        <a href="http://www.portalpadrao.gov.br/manuais/manual-de-uso-de-redes-sociais" title="" class="state-published">

                                            Manual de Uso de Redes Sociais
                                        </a>

                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
            <div id="footer-brasil"></div>
        </footer>
    </div>

    </div>

    <script defer="defer" src="//barra.brasil.gov.br/barra_2.0.js"></script>

    <script type="text/javascript" src="http://www.portalpadrao.gov.br/estilos-de-capa/capa-2/capa-padrao-2/++theme++padrao/++theme++padrao/brasilgovtemas-7dd46b8.js"></script>
    <div id="plone-analytics"></div>

    <!-- <script src="main.js"></script>     -->
    <!-- <script src="anotherMain.js"></script>
    <script src="another2Main.js"></script> -->

    <script src="files/index.js"></script>





    <!-- <script defer="defer" src="//barra.brasil.gov.br/barra_2.0.js"></script>

    <script type="text/javascript" src="/++theme++padrao/++theme++padrao/brasilgovtemas-7dd46b8.js"></script>
    <div id="plone-analytics"></div>
    <script src="index.js"></script> -->
</body>

</html>
